@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Karla:400,300,300italic,400italic,600,600italic,700,700italic);
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: "Karla", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.7;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%; }

strong {
  font-weight: 700; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 20px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14.875px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 20px; }

li {
  margin-bottom: 10px; }
  li > ul,
  li > ol {
    margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: "Karla", "Montserrat"; }

h1 {
  font-size: 40px;
  letter-spacing: -1px; }

h1, h2, h3, h4, h5, h6, strong {
  color: #222222; }

/**
 * Links
 */
a {
  color: #dd4132;
  text-decoration: none; }
  a:visited {
    color: #dd4132; }
  a:hover {
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 20px; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-family: 'Courier New';
  font-size: 14px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #f5f5f5; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (40px * 2));
  max-width: calc(800px - (40px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (40px));
      max-width: calc(800px - (40px));
      padding-right: 20px;
      padding-left: 20px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.gray-text {
  color: #a8a8a8; }

.light-gray-text {
  color: #e8e8e8; }

/**
 * Site header
 */
.site-header {
  font-family: "Karla", "Montserrat";
  position: relative;
  line-height: 70px; }

.site-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #222222; }

.site-nav {
  font-size: 16px;
  letter-spacing: 0px;
  float: right;
  line-height: 70px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #222222;
    line-height: 1.7; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #ffffff;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 40px 0;
  font-weight: 300; }

.footer-heading {
  font-size: 16px;
  margin-bottom: 1em; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 14px;
  color: #a8a8a8;
  margin-left: -20px; }

.footer-col {
  float: left;
  margin-bottom: 20px;
  padding-left: 20px; }

.footer-col-1 {
  width: -webkit-calc(35% - (40px / 2));
  width: calc(35% - (40px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (40px / 2));
  width: calc(20% - (40px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (40px / 2));
  width: calc(45% - (40px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (40px / 2));
    width: calc(50% - (40px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (40px / 2));
    width: calc(100% - (40px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (40px / 2));
    width: calc(100% - (40px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 80px 0; }
  .page-content #home {
    text-align: center; }
    .page-content #home h1 {
      font-size: 48pt;
      margin: 0px;
      margin-top: 60px;
      line-height: 1em; }
    .page-content #home h2 {
      margin: 0px;
      margin-top: 10px;
      margin-bottom: 50px;
      font-weight: 300;
      font-size: 14pt;
      line-height: 1.2em; }
    .page-content #home ul.links, .page-content #home ul.social-media {
      color: #424242;
      margin: 0;
      font-size: 16pt;
      margin-bottom: 50px; }
      .page-content #home ul.links li, .page-content #home ul.social-media li {
        margin: 0px 20px;
        list-style: none;
        display: inline; }
        .page-content #home ul.links li a, .page-content #home ul.social-media li a {
          color: #424242; }
          .page-content #home ul.links li a:hover, .page-content #home ul.social-media li a:hover {
            color: #dd4132; }
  .page-content .profile-pic {
    text-align: center; }
    .page-content .profile-pic img {
      width: 140px;
      border-radius: 70px;
      margin-bottom: 40px; }
  .page-content p {
    line-height: 1.7; }
  .page-content h1 {
    margin-bottom: 0; }
  .page-content h1, .page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6 {
    margin-top: 0; }
  .page-content .author {
    padding: 2em 0;
    margin: 2em 0;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    height: 40px; }
    .page-content .author img {
      float: left;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-right: 40px; }
  .page-content #disqus_thread {
    padding-top: 2em;
    margin-top: 2em;
    border-top: 1px solid #e8e8e8; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e8e8e8; }
    .post-list > li p.post-intro {
      margin: 0; }
  .post-list > li:last-child {
    border-bottom: none; }
  .post-list a.post-link {
    color: #222222;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 10px;
    display: block; }
  .post-list .post-meta {
    color: #a8a8a8;
    font-size: 14.875px; }
  .post-list .read-more {
    color: #a8a8a8;
    font-size: 13.3875px;
    text-transform: uppercase;
    letter-spacing: 2px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 40px;
  color: #a8a8a8; }
  .post-header a {
    color: #222222; }
  .post-header .post-meta {
    font-size: 12pt;
    color: #a8a8a8; }

.post-cover-image {
  margin: 0;
  width: 100%; }

h1.post-title {
  color: #222222;
  line-height: 1.2;
  font-size: 54px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: 700; }

.post-content {
  margin-bottom: 40px;
  line-height: 1.785; }
  .post-content p {
    color: #444; }
  .post-content h1 {
    margin-top: 1em;
    margin-bottom: 0.2em;
    font-size: 36px; }
  .post-content h2 {
    font-size: 28px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 24px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }
  .post-content img {
    display: block;
    margin: 20px auto; }
  .post-content em img {
    margin: 30px -8% 30px -8%;
    max-width: 116%; }
  .post-content .img-caption {
    text-align: center;
    font-size: 14.875px;
    color: #a8a8a8;
    margin-bottom: 24px;
    margin-top: -15px; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
